In [113]:
import pandas as pd
import geopandas as gpd
from urllib.error import HTTPError
import glob, os
import re

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

I think everything is going to be much more efficient if we go state-by-state instead of chunking things up. This is likely why they come in these chunks to begin with. So the process will be as follows:

For each state in our list of US states, 
- pull the census blocks for that state
- segment the us_ookla data
- join block data to ookla then aggregate ookla and join that data back onto blocks shapefile (already have a function for this)
- pull the FCC Form 477 data
- aggregate FCC 477 data and join onto blocks shapefile
- join places data to blocks so we can filter by "city"
- export new state-specific blocks shapefile

In [2]:
states = gpd.read_file('../../../GIS/tl_2019_us_state/tl_2019_us_state.shp')
states = states.sort_values('NAME',ascending=True)

# use like this: states_abb_dict[fips_code_str]['STUSPS']
states_abb_dict = states[['STATEFP','STUSPS']].set_index('STATEFP').to_dict('index')

states_list = list(states['STATEFP'].unique())

In [ ]:
us_ookla = gpd.read_file('../data/ookla/2020-01-01_performance_fixed_tiles/gps_fixed_tiles_w_us_state.shp')
# convert to Mbps for easier reading
us_ookla['avg_d_mbps'] = us_ookla['avg_d_kbps']/1000
us_ookla['avg_u_mbps'] = us_ookla['avg_u_kbps']/1000

In [4]:
filenames = ['geocorr2018-al-hi-plus-mo.csv','geocorr2018-id-ms.csv','geocorr2018-mt-pa.csv','geocorr2018-ri-wy.csv']
corr_dtypes = {'county':'str','tract':'str','block':'str','state':'str','place':'str'}

geocorr_list = []
for file in filenames:
    df = pd.read_csv('../../../GIS/geocorr-blocks-places/v2/'+file, dtype=corr_dtypes)
    df['blockGEOID'] = df['county']+df['tract'].str.replace('.','')+df['block']
    geocorr_list.append(df)
    
block_place = pd.concat(geocorr_list)

/Users/akanik/.local/share/virtualenvs/broadband-cNLU4PFc/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
<ipython-input-4-11ad334b1397>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['blockGEOID'] = df['county']+df['tract'].str.replace('.','')+df['block']

In [28]:
#420030510002003
block_place.loc[block_place['blockGEOID'] == '420030510002003'].head()
#block_place.loc[block_place.index == 2673297]['blockGEOID'].values

,county,tract,block,state,placefp,stab,cntyname,placenm,pop10,afact,blockGEOID
2406529,42003,0510.0,2003,42,61000,PA,Allegheny PA,"Pittsburgh city, PA",850,1,420030510002003

In [ ]:
straglers = ['04','11','19','25','46','51']
pr = ['72']

PR's FCC file requires special encoding so you need to run that separately. `encoding='ISO-8859-1`

In [ ]:
all_blocks = []

In [ ]:

for state in pr:
    state_abb = states_abb_dict[state]['STUSPS']
    
    print('***** Processing state', state_abb, '*****')
    
    print('Pulling census blocks...')
    block_url = 'https://www2.census.gov/geo/tiger/TIGER2019/TABBLOCK/tl_2019_' + state + '_tabblock10.zip'
    try:
        print('Trying ',block_url)
        blocks = gpd.read_file(block_url)
    except HTTPError as err:
        if err.code == 404:
            print('no file for '+state_abb)
        else:
            raise
    
    blocks = blocks
    blocks = blocks.to_crs('EPSG:4326')
    
    print('Creating ookla chunk...')
    ookla_chunk = us_ookla.loc[us_ookla['STATEFP'] == state]
    ookla_chunk = ookla_chunk[['quadkey','avg_d_kbps','avg_u_kbps','avg_lat_ms','tests','devices',
                               'geometry','STATEFP','STATENS','avg_d_mbps','avg_u_mbps']]
    
    print('Doing spatial join...')
    
    ookla_blocks = gpd.sjoin(ookla_chunk, blocks, how='left', op='intersects')
    
    print('Grouping by blocks...')
    ookla_grouped = ookla_blocks.groupby('GEOID10').agg({'quadkey':'count','tests':'sum','devices':'sum',
                                                         'avg_d_mbps':['max','min','mean'],
                                                         'avg_u_mbps':['max','min','mean']}).reset_index()
    ookla_grouped.columns = ['_'.join(col).strip() for col in ookla_grouped.columns.values]
    
    print('Joining ookla grouped data back to blocks...')
    blocks_ookla = blocks.merge(ookla_grouped,left_on='GEOID10',right_on='GEOID10_',how='left')
    
    print('Pulling FCC data...')
    dtypes = {'BlockCode':'str'}
    pr_encoding = 'ISO-8859-1'
    fcc_fixed_sat = pd.read_csv('https://transition.fcc.gov/form477/BroadbandData/Fixed/Dec19/Version%201/'+state_abb+'-Fixed-Dec2019.zip',compression='zip',dtype=dtypes, encoding=pr_encoding)
    
    print('Grouping FCC data...')
    fcc_grouped = fcc_fixed_sat.groupby('BlockCode').agg({'DBAName':'sum','Provider_Id':'nunique',
                                                          'MaxAdDown':['max','min','mean'],
                                                          'MaxAdUp':['max','min','mean']}).reset_index()
    fcc_grouped.columns = ['_'.join(col).strip() for col in fcc_grouped.columns.values]
    
    print('Joining ookla grouped data back to blocks...')
    blocks_ookla_fcc = blocks_ookla.merge(fcc_grouped,left_on='GEOID10',right_on='BlockCode_',how='left')
    blocks_ookla_fcc.rename(columns={'quadkey_count':'quadkeyCNT','tests_sum':'testSUM','devices_sum':'deviceSUM',
                                    'avg_d_mbps_max':'ook_dmax', 'avg_d_mbps_min':'ook_dmin', 'avg_d_mbps_mean':'ook_dmean',
                                     'avg_u_mbps_max':'ook_umax','avg_u_mbps_min':'ook_umin', 'avg_u_mbps_mean':'ook_umean',
                                     'BlockCode_':'block_cd','DBAName_sum':'providers','Provider_Id_nunique':'provideCNT',
                                     'MaxAdDown_max':'fcc_dmax','MaxAdDown_min':'fcc_dmin','MaxAdDown_mean':'fcc_dmean',
                                     'MaxAdUp_max':'fcc_umax', 'MaxAdUp_min':'fcc_umin','MaxAdUp_mean':'fcc_umean'}, inplace=True)
    
    print('Find different between FCC advertised and Ookla observed...')
    blocks_ookla_fcc['dmean_diff'] = blocks_ookla_fcc['fcc_dmean'] - blocks_ookla_fcc['ook_dmean']
    blocks_ookla_fcc['umean_diff'] = blocks_ookla_fcc['fcc_umean'] - blocks_ookla_fcc['ook_umean']
    
    print('Join place names to blocks...')
    block_place = block_place[['blockGEOID','placenm','cntyname','placefp']]
    blocks_ookla_fcc_places = blocks_ookla_fcc.merge(block_place,left_on='GEOID10',right_on='blockGEOID',how='left')
        
    print('Writing blocks with ookla to file...')
    blocks_ookla_fcc_places.to_file('../GIS/blocks_ookla_fcc/tl_2019_'+state+'_tabblock10_ookla_fcc.shp')
    
    print('Adding blocks to all_blocks list...')
    all_blocks.append(blocks_ookla_fcc_places)

In [ ]:
block_place_ookla = block_place_ookla[['STATEFP10', 'COUNTYFP10', 'TRACTCE10', 'BLOCKCE10', 'GEOID10',
                                       'NAME10', 'MTFCC10', 'UR10', 'UACE10', 'UATYPE', 'FUNCSTAT10',
                                       'ALAND10', 'AWATER10', 'INTPTLAT10', 'INTPTLON10', 'geometry',
                                       'GEOID10_', 'quadkeyCNT', 'testSUM', 'deviceSUM', 'ook_dmax',
                                       'ook_dmin', 'ook_dmean', 'ook_umax', 'ook_umin', 'ook_umean',
                                       'block_cd', 'providers', 'provideCNT', 'fcc_dmax', 'fcc_dmin',
                                       'fcc_dmean', 'fcc_umax', 'fcc_umin', 'fcc_umean', 'dmean_diff',
                                       'umean_diff']]

block_place_ookla = block_place_ookla.merge(block_place[['blockGEOID','placefp','placenm']],left_on='GEOID10',right_on='blockGEOID',how='left')

In [ ]:
block_place_ookla = pd.concat(all_blocks)

with_diff = block_place_ookla.loc[~(block_place_ookla['dmean_diff'].isna())]
with_diff['tract_geoid'] = with_diff['STATEFP10'] + with_diff['COUNTYFP10'] + with_diff['TRACTCE10']

in_place = with_diff.loc[~(with_diff['placefp'].isna())]
in_place['placefp'] = in_place['placefp'].apply(lambda x: str(x).zfill(5))
in_place['place_geoid'] = in_place['STATEFP10'] + in_place['placefp']

In [ ]:
in_place.to_file('../GIS/blocks_ookla_fcc/tl_2019_INPLACE_tabblock10_ookla_fcc.shp')

In [ ]:
print(len(block_place_ookla))
print(len(with_diff))
print(len(in_place))

In [ ]:
6618282-6544499

## For when you lose all your variables

In [15]:
#all_blocks = []
#
#shape_dir = '../GIS/blocks_ookla_fcc/'
#
#for file in glob.glob(shape_dir+"*.shp"):
#    print('Working on',file,'...')
#    blocks_ookla_fcc_places = gpd.read_file(file)
#    all_blocks.append(blocks_ookla_fcc_places)
#    
#block_place_ookla = pd.concat(all_blocks)
#
#block_place_ookla = block_place_ookla[['STATEFP10', 'COUNTYFP10', 'TRACTCE10', 'BLOCKCE10', 'GEOID10',
#                                       'NAME10', 'MTFCC10', 'UR10', 'UACE10', 'UATYPE', 'FUNCSTAT10',
#                                       'ALAND10', 'AWATER10', 'INTPTLAT10', 'INTPTLON10', 'geometry',
#                                       'GEOID10_', 'quadkeyCNT', 'testSUM', 'deviceSUM', 'ook_dmax',
#                                       'ook_dmin', 'ook_dmean', 'ook_umax', 'ook_umin', 'ook_umean',
#                                       'block_cd', 'providers', 'provideCNT', 'fcc_dmax', 'fcc_dmin',
#                                       'fcc_dmean', 'fcc_umax', 'fcc_umin', 'fcc_umean', 'dmean_diff',
#                                       'umean_diff']]

#block_place_ookla = block_place_ookla.merge(block_place[['blockGEOID','placefp','placenm']],left_on='GEOID10',right_on='blockGEOID',how='left')

#with_diff = block_place_ookla.loc[~(block_place_ookla['dmean_diff'].isna())]
#with_diff['tract_geoid'] = with_diff['STATEFP10'] + with_diff['COUNTYFP10'] + with_diff['TRACTCE10']
#
#in_place = with_diff.loc[~(with_diff['placefp'].isna())]
#in_place['placefp'] = in_place['placefp'].apply(lambda x: str(x).zfill(5))
#in_place['place_geoid'] = in_place['STATEFP10'] + in_place['placefp']


def get_place_fips(x):
    if pd.isnull(x['placefp']):
        return ''
    else:
        placefp = str(x['placefp']).zfill(5)
        return x['STATEFP10'] + placefp

#you might need to run this again in case you fuck up the with_diff or in_place vars
#with_diff = block_place_ookla.loc[~(block_place_ookla['dmean_diff'].isna())]
#with_diff['tract_geoid'] = with_diff['STATEFP10'] + with_diff['COUNTYFP10'] + with_diff['TRACTCE10']
with_diff['place_geoid'] = with_diff.apply(lambda x: get_place_fips(x), axis=1)

in_place = with_diff.loc[~(with_diff['placefp'] == '')]

/Users/akanik/.local/share/virtualenvs/broadband-cNLU4PFc/lib/python3.8/site-packages/geopandas/geodataframe.py:853: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

In [31]:
in_place = with_diff.loc[~(with_diff['placefp'].isna())]

In [32]:
in_place.groupby('STATEFP10')['GEOID10'].count()

STATEFP10
01    141649
02     11566
04    124131
05     82252
06    502474
08    121650
09     58371
10     19468
11      6351
12    389266
13    176339
15     16260
16     52977
17    314282
18    180519
19     91262
20     99947
21     96691
22    113789
23     33983
24    105056
25    128211
26    203224
27    132248
28     70804
29    168885
30     35780
31     76818
32     39469
33     32412
34    147777
35     57065
36    255382
37    205001
38     30496
39    253054
40    121700
41     91611
42    303170
44     21554
45    109630
46     21642
47    149737
48    554642
49     54797
50     17470
51    159936
53    132101
54     70477
55    137158
56     23965
Name: GEOID10, dtype: int64

In [33]:
print(len(block_place_ookla))
print(len(with_diff))
print(len(in_place))

11166336
6618282
6544499

### Differences between observed and advertised download speeds?
observed = ookla

advertised = fcc

No real difference between observed and advertised among all blocks and those blocks in places. But this isn't surprising now that we realize there are only 73783 out of 6.6 million blocks not in "places". In reality there are more than 11 million blocks in the US, but only 6.6 million of them have Ookla and FCC data.

In [34]:
print('All blocks with diff:',with_diff.dmean_diff.mean())
print('All blocks in places:',in_place.dmean_diff.mean())

All blocks with diff: 30.495458728221326
All blocks in places: 30.50621822133352

But the overstatement of FCC speeds is clear.

In [ ]:
with_diff.fcc_dmean.mean()

In [ ]:
with_diff.ook_dmean.mean()

And same for places. So also what FCC is advertising is higher than what even the average people are getting. And those they advertise higher speeds in "cities" than they do among all census blocks, the observed download speed in "cities" is lower than the observed speeds in all census blocks.

In [ ]:
in_place.fcc_dmean.mean()

In [ ]:
in_place.ook_dmean.mean()

## Pulling in demographics

We really need to pull up some target cities and look at those. Like cities we know have grown boundary-wise in the past 10 or 20 years and definitely all the large cities, like about 100,000 pop.

Use the census python api pull method.

Ok looks like there aren't really that many datasets at the block level. Tract, yes. Block no. But we should have the tract stored in our data right? Ok yes. So we can join these block data to tract data and that will at least be better than place level.

In [ ]:
with_diff.columns

In [ ]:
MYKEY = 'a7c900315653b8a0b61a024ae325cc7941558767'

#income/poverty table: S1701
## - percent below poverty level = S1701_C03_001E
#race & total pop table: DP05
## - total pop = DP05_0001E
## - percent white alone = DP05_0037PE

tract_poverty_dfs = []
tract_pop_race_dfs = []

place_poverty_dfs = []
place_pop_race_dfs = []

for state in states_list:
    state_abb = states_abb_dict[state]['STUSPS']
    
    print('***** Processing state', state_abb, '*****')
    
    try: 
        tract_poverty_url = 'https://api.census.gov/data/2019/acs/acs5/subject?get=NAME,S1701_C03_001E&for=tract:*&in=state:'+ state +'&key='+MYKEY
        tract_poverty = pd.read_json(tract_poverty_url)
        tract_poverty_dfs.append(tract_poverty)

        tract_pop_race_url = 'https://api.census.gov/data/2019/acs/acs5/profile?get=NAME,DP05_0001E,DP05_0037PE&for=tract:*&in=state:'+ state +'&key='+MYKEY
        tract_pop_race = pd.read_json(tract_pop_race_url)
        tract_pop_race_dfs.append(tract_pop_race)

        place_poverty_url = 'https://api.census.gov/data/2019/acs/acs5/subject?get=NAME,PLACE,S1701_C03_001E&for=place:*&in=state:'+ state +'&key='+MYKEY
        place_poverty = pd.read_json(place_poverty_url)
        place_poverty_dfs.append(place_poverty)

        place_pop_race_url = 'https://api.census.gov/data/2019/acs/acs5/profile?get=NAME,PLACE,DP05_0001E,DP05_0037PE&for=place:*&in=state:'+ state +'&key='+MYKEY
        place_pop_race = pd.read_json(place_pop_race_url)
        place_pop_race_dfs.append(place_pop_race)
    except ValueError:
        print('No values data for', state_abb)
        
    
all_tract_poverty = pd.concat(tract_poverty_dfs)
all_tract_poverty.rename(columns={0:'name',1:'perc_below_poverty',2:'state',3:'county',4:'tract'},inplace=True)
all_tract_pop_race = pd.concat(tract_pop_race_dfs)
all_tract_pop_race.rename(columns={0:'name',1:'pop',2:'perc_white',3:'state',4:'county',5:'tract'},inplace=True)
all_tract_demo = all_tract_pop_race.merge(all_tract_poverty, on='name', how='left')
all_tract_demo = all_tract_demo[['name','pop','perc_white','perc_below_poverty','state_x','county_x','tract_x']]
all_tract_demo.rename(columns={'state_x':'state_fips','county_x':'county_fips','tract_x':'tract_fips'},inplace=True)

all_place_poverty = pd.concat(place_poverty_dfs)
all_place_poverty.rename(columns={0:'name',1:'place',2:'perc_below_poverty',3:'state',4:'place'},inplace=True)
all_place_pop_race = pd.concat(place_pop_race_dfs)
all_place_pop_race.rename(columns={0:'name',1:'place',2:'pop',3:'perc_white',4:'state',5:'place'},inplace=True)
all_place_demo = all_place_pop_race.merge(all_place_poverty, on='name', how='left')
all_place_demo = all_place_demo[['name','pop','perc_white','perc_below_poverty','state_x','place_x']]
all_place_demo.rename(columns={'state_x':'state_fips','place_x':'place_fips'},inplace=True)

In [ ]:
place_pop_race.head()

In [ ]:
#the following two lines exist only because you fucked up the column rename in the bulk
#download code. You've fixed it in the bulk download code so if you run that again you shouldn't
#need to run these again
#all_place_demo = all_place_demo[['name','perc_white','state_x','place_x',5,'state_y']]
#all_place_demo.rename(columns={'perc_white':'pop','state_x':'perc_white','place_x':'state_fips',5:'place_fips',
#                              'state_y':'perc_below_poverty'},inplace=True)

all_tract_demo.to_csv('../../../GIS/census-tracts/acs5-all-tract-pop-race-poverty.csv')
all_place_demo.to_csv('../../../GIS/census-places/acs5-all-place-pop-race-poverty.csv')

## Joining demographic data to the speed data

We're going to want to remove all negative values and maybe zero population tracts.

In [35]:
not_in_place = with_diff.loc[~(with_diff['tract_geoid'].isin(list(in_place['tract_geoid'].unique())))]
not_in_place_list = list(not_in_place['tract_geoid'].unique())

In [36]:
print(len(block_place_ookla))
print(len(with_diff))
print(len(in_place))
print(len(not_in_place))

11166336
6618282
6544499
73783

In [37]:
def get_msa_size_class(x):
    if x['pop']>1000000:
        return 'very large'
    elif x['pop']>499999:
        return 'large'
    elif x['pop']>249999:
        return 'midsized'
    elif x['pop']>50000:
        return 'small'
    else:
        return 'town/rural'
    
def get_tract_poverty_class(x):
    if x['perc_below_poverty']>49.99:
        return 'extreme'
    elif x['perc_below_poverty']>29.99:
        return 'high'
    elif x['perc_below_poverty']>14.99:
        return 'high average'
    elif x['perc_below_poverty']>4.99:
        return 'low average'
    elif x['perc_below_poverty']>0:
        return 'low'
    else:
        return 'error'

all_tract_demo = pd.read_csv('../../../GIS/census-tracts/acs5-all-tract-pop-race-poverty.csv', dtype={'state_x':'str','county_x':'str','tract_x':'str'})
all_place_demo = pd.read_csv('../../../GIS/census-places/acs5-all-place-pop-race-poverty.csv', dtype={'state_fips':'str','place_fips':'str'})

all_tract_demo = all_tract_demo[['name','pop','perc_white','perc_below_poverty','state_x','county_x','tract_x']]
all_tract_demo.rename(columns={'state_x':'state_fips','county_x':'county_fips','tract_x':'tract_fips'},inplace=True)

all_tract_demo = all_tract_demo.loc[~(all_tract_demo['name'] == 'NAME')]
all_place_demo = all_place_demo.loc[~(all_place_demo['name'] == 'NAME')]

all_tract_demo['tract_geoid'] = all_tract_demo['state_fips']+all_tract_demo['county_fips']+all_tract_demo['tract_fips']
all_tract_demo['pop'] = all_tract_demo['pop'].astype('float')
all_tract_demo['perc_white'] = all_tract_demo['perc_white'].astype('float')
all_tract_demo['perc_below_poverty'] = all_tract_demo['perc_below_poverty'].astype('float')

all_place_demo['place_geoid'] = all_place_demo['state_fips']+all_place_demo['place_fips']
all_place_demo['pop'] = all_place_demo['pop'].astype('float')
all_place_demo['perc_white'] = all_place_demo['perc_white'].astype('float')
all_place_demo['perc_below_poverty'] = all_place_demo['perc_below_poverty'].astype('float')

all_tract_demo = all_tract_demo.loc[(~(all_tract_demo['pop'] == 0))]
all_place_demo = all_place_demo.loc[(~(all_place_demo['pop'] == 0))]

all_place_demo['city_cat'] = all_place_demo.apply(lambda x: get_msa_size_class(x),axis=1)
all_tract_demo['tract_poverty_cat'] = all_tract_demo.apply(lambda x: get_tract_poverty_class(x),axis=1)

In [38]:
print('tract count:',len(all_tract_demo))
print('place count:',len(all_place_demo))

tract count: 73298
place count: 29313

In [ ]:
all_tract_demo.sort_values('pop',ascending=True).head()

In [ ]:
all_place_demo.sort_values('pop',ascending=False).head()

## Diff analysis in places and tracts

### Is the diff more pronounced in cities with higher or lower populations?

In [39]:
all_place_demo.sort_values('pop',ascending=True).head()

,Unnamed: 0,name,pop,perc_white,state_fips,place_fips,perc_below_poverty,place_geoid,city_cat
32109,32109,"Lost Springs town, Wyoming",1.0,100.0,56,47805,0.0,5647805,town/rural
22705,22705,"Shamrock town, Oklahoma",2.0,100.0,40,66600,100.0,4066600,town/rural
4867,4867,"Weeki Wachee city, Florida",2.0,100.0,12,75625,0.0,1275625,town/rural
13923,13923,"The Ranch CDP, Minnesota",2.0,0.0,27,64547,0.0,2764547,town/rural
26553,26553,"Lily town, South Dakota",2.0,100.0,46,37140,0.0,4637140,town/rural

In [42]:
xl_city_list = list(all_place_demo.loc[all_place_demo['city_cat'] == 'very large']['place_geoid'].unique())
lg_city_list = list(all_place_demo.loc[all_place_demo['city_cat'] == 'large']['place_geoid'].unique())
md_city_list = list(all_place_demo.loc[all_place_demo['city_cat'] == 'midsized']['place_geoid'].unique())
sm_city_list = list(all_place_demo.loc[(all_place_demo['city_cat'] == 'small')&(all_place_demo['pop']>49999)]['place_geoid'].unique())
town_rural_list = list(all_place_demo.loc[(all_place_demo['pop']<50000)]['place_geoid'].unique())
#town_rural_noplace_list = town_rural_list+not_in_place_lis

In [43]:
len(sm_city_list)

756

In [ ]:
with_diff.head()

In [44]:
xl_city_data = in_place.loc[in_place['place_geoid'].isin(xl_city_list)]
lg_city_data = in_place.loc[in_place['place_geoid'].isin(lg_city_list)]
md_city_data = in_place.loc[in_place['place_geoid'].isin(md_city_list)]
sm_city_data = in_place.loc[in_place['place_geoid'].isin(sm_city_list)]
town_rural_data = in_place.loc[in_place['place_geoid'].isin(town_rural_list)]
town_rural_noplace_data = with_diff.loc[(with_diff['place_geoid'].isin(town_rural_list))|(with_diff['tract_geoid'].isin(not_in_place_list))]

In [45]:
print(len(xl_city_list),'very large cities with',len(xl_city_data),'blocks')
print(len(lg_city_list),'large cities with',len(lg_city_data),'blocks')
print(len(md_city_list),'midsized cities with',len(md_city_data),'blocks')
print(len(sm_city_list),'small cities with',len(sm_city_data),'blocks')
print(len(town_rural_list),'towns and rural places with',len(town_rural_data),'blocks')
print(len(not_in_place_list),'blocks not in places')

10 very large cities with 255777 blocks
25 large cities with 254137 blocks
51 midsized cities with 263314 blocks
756 small cities with 1122743 blocks
28471 towns and rural places with 2780395 blocks
1058 blocks not in places

In [46]:
print('All blocks with diff:',with_diff.dmean_diff.mean())
print('All blocks in places:',in_place.dmean_diff.mean())
print('All blocks in xl places:',xl_city_data.dmean_diff.mean())
print('All blocks in lg places:',lg_city_data.dmean_diff.mean())
print('All blocks in md places:',md_city_data.dmean_diff.mean())
print('All blocks in sm places:',sm_city_data.dmean_diff.mean())
print('All blocks in town/rural places:',town_rural_data.dmean_diff.mean())

All blocks with diff: 30.495458728221326
All blocks in places: 30.50621822133352
All blocks in xl places: 35.80419873711413
All blocks in lg places: 41.630968222530704
All blocks in md places: 36.56200932685689
All blocks in sm places: 27.953614721986145
All blocks in town/rural places: 29.89849490565284

The divide between advertised and observed speeds is worst in large cities very large and midsized cities also have higher than average rates.

### Cities with the worst diff

In [72]:
in_place.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYPE,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry,GEOID10_,quadkeyCNT,testSUM,deviceSUM,ook_dmax,ook_dmin,ook_dmean,ook_umax,ook_umin,ook_umean,block_cd,providers,provideCNT,fcc_dmax,fcc_dmin,fcc_dmean,fcc_umax,fcc_umin,fcc_umean,dmean_diff,umean_diff,blockGEOID,placefp,placenm,tract_geoid,place_geoid
1,32,510,001002,1023,325100010021023,Block 1023,G5040,R,None,None,S,1212977,0,+39.2021077,-119.6795352,"POLYGON ((-119.68771 39.20086, -119.68725 39.2...",325100010021023,1.0,15.0,4.0,51.602,51.602,51.6020,8.034,8.034,8.0340,325100010021023,SkyFiber InternetViasat IncAT&T NevadaGCI Comm...,6.0,100.0,0.0,38.333333,100.0,0.0,17.947333,-13.268667,9.913333,325100010021023,9700,"Carson City, NV",32510001002,3209700
3,32,510,001002,1161,325100010021161,Block 1161,G5040,R,None,None,S,20621,0,+39.1182172,-119.7064602,"POLYGON ((-119.70752 39.11895, -119.70747 39.1...",325100010021161,1.0,1.0,1.0,34.299,34.299,34.2990,18.182,18.182,18.1820,325100010021161,Viasat IncGCI Communication Corp.HughesNetSkyc...,4.0,100.0,0.0,31.750000,3.0,0.0,1.825000,-2.549000,-16.357000,325100010021161,9700,"Carson City, NV",32510001002,3209700
4,32,510,000100,2019,325100001002019,Block 2019,G5040,U,14158,U,S,17097,0,+39.1609354,-119.7735929,"POLYGON ((-119.77477 39.16120, -119.77478 39.1...",325100001002019,2.0,47.0,21.0,146.523,71.958,109.2405,57.568,26.113,41.8405,325100001002019,Viasat IncCharter Communications IncAT&T Nevad...,6.0,1000.0,0.0,240.666667,1000.0,0.0,118.175556,131.426167,76.335056,325100001002019,9700,"Carson City, NV",32510000100,3209700
5,32,510,000600,4042,325100006004042,Block 4042,G5040,U,14158,U,S,8705,0,+39.1511273,-119.7532795,"POLYGON ((-119.75418 39.15129, -119.75392 39.1...",325100006004042,2.0,119.0,24.0,144.443,107.574,126.0085,16.333,12.154,14.2435,325100006004042,Viasat IncCharter Communications IncAT&T Nevad...,6.0,940.0,0.0,178.833333,35.0,0.0,7.135333,52.824833,-7.108167,325100006004042,9700,"Carson City, NV",32510000600,3209700
6,32,510,000600,3003,325100006003003,Block 3003,G5040,U,14158,U,S,18408,0,+39.1530850,-119.7488440,"POLYGON ((-119.74994 39.15340, -119.74902 39.1...",325100006003003,1.0,1.0,1.0,457.714,457.714,457.7140,19.795,19.795,19.7950,325100006003003,Viasat IncCharter Communications IncAT&T Nevad...,6.0,940.0,0.0,139.500000,35.0,0.0,6.072500,-318.214000,-13.722500,325100006003003,9700,"Carson City, NV",32510000600,3209700

In [79]:
by_city = in_place.groupby(['place_geoid','placenm']).agg({'dmean_diff':'mean','fcc_dmean':'mean','ook_dmean':'mean','testSUM':'sum','deviceSUM':'sum'}).reset_index()
by_city = by_city.merge(all_place_demo[['place_geoid','pop','perc_white','perc_below_poverty','city_cat']],on='place_geoid', how='left')

In [80]:
by_city.sort_values('dmean_diff',ascending=False).head()

,place_geoid,placenm,dmean_diff,fcc_dmean,ook_dmean,testSUM,deviceSUM,pop,perc_white,perc_below_poverty,city_cat
4910,1360004,"Pembroke city, GA",345.757505,420.378167,74.620662,1534.0,575.0,2481.0,63.4,19.4,town/rural
11028,2681680,"Vandalia village, MI",335.640060,374.836310,39.196250,7.0,7.0,381.0,53.5,20.4,town/rural
4572,1311000,"Brooklet city, GA",324.245889,428.091808,103.845919,715.0,280.0,1667.0,90.6,10.5,town/rural
16875,3825300,"Fairmount city, ND",317.977638,337.959420,19.981783,61.0,28.0,321.0,96.6,12.9,town/rural
11538,2739986,"Mantorville city, MN",312.350849,371.085401,58.734551,831.0,333.0,1015.0,93.9,5.8,town/rural

In [48]:
by_city.loc[by_city['place_geoid'].isin(sm_city_list)].sort_values('dmean_diff',ascending=False).head(6)

,place_geoid,placenm,dmean_diff,testSUM,deviceSUM,pop,perc_white,perc_below_poverty,city_cat
312,0151000,"Montgomery city, AL",219.030893,121083.0,41202.0,199783.0,32.6,20.6,small
21736,4739560,"Kingsport city, TN",207.605025,40403.0,14581.0,53376.0,91.2,18.9,small
13871,3271400,"Sunrise Manor CDP, NV",184.233880,124148.0,37742.0,193781.0,52.1,21.4,small
4623,1319000,"Columbus city, GA",183.128359,125748.0,39370.0,195739.0,43.3,20.7,small
25,0103076,"Auburn city, AL",173.987223,41264.0,14040.0,64054.0,71.2,27.3,small
6891,1822000,"Evansville city, IN",169.448836,109258.0,39908.0,118588.0,80.6,21.8,small

In [50]:
by_city.loc[by_city['city_cat'] == 'midsized'].sort_values('dmean_diff',ascending=False).head(6)

,place_geoid,placenm,dmean_diff,testSUM,deviceSUM,pop,perc_white,perc_below_poverty,city_cat
13825,3231900,"Henderson city, NV",168.426671,427771.0,118090.0,300116.0,75.5,7.9,midsized
4306,1263000,"St. Petersburg city, FL",159.289561,538532.0,165950.0,261338.0,69.5,13.4,midsized
11568,2743000,"Minneapolis city, MN",141.912032,515155.0,162616.0,420324.0,63.6,19.1,midsized
8864,2146027,"Lexington-Fayette urban county, KY",120.091637,488968.0,138994.0,320601.0,74.9,16.8,midsized
20405,4261000,"Pittsburgh city, PA",117.865762,324869.0,114355.0,302205.0,66.8,20.5,midsized
22269,4817000,"Corpus Christi city, TX",117.045210,338706.0,104029.0,325780.0,89.6,16.1,midsized

In [51]:
by_city.loc[by_city['city_cat'] == 'large'].sort_values('dmean_diff',ascending=False).head()

,place_geoid,placenm,dmean_diff,testSUM,deviceSUM,pop,perc_white,perc_below_poverty,city_cat
13833,3240000,"Las Vegas city, NV",164.787711,700642.0,204552.0,634773.0,61.9,15.3,large
17310,3918000,"Columbus city, OH",105.336227,1058491.0,327839.0,878553.0,58.6,19.5,large
3601,1150000,"Washington city, DC",91.420061,805240.0,252280.0,692683.0,41.3,16.2,large
19111,4159000,"Portland city, OR",88.567536,1035630.0,345366.0,645291.0,77.4,13.7,large
25076,5363000,"Seattle city, WA",79.744707,1544555.0,487977.0,724305.0,67.3,11.0,large

In [52]:
by_city.loc[by_city['city_cat'] == 'very large'].sort_values('dmean_diff',ascending=False).head()

,place_geoid,placenm,dmean_diff,testSUM,deviceSUM,pop,perc_white,perc_below_poverty,city_cat
15608,3651000,"New York city, NY",78.697976,14683491.0,4229682.0,8419316.0,42.7,17.9,very large
20394,4260000,"Philadelphia city, PA",77.871479,1758046.0,553399.0,1579075.0,40.7,24.3,very large
926,0455000,"Phoenix city, AZ",50.535926,1549011.0,463279.0,1633017.0,72.9,18.0,very large
5653,1714000,"Chicago city, IL",47.572107,5943561.0,1698651.0,2709534.0,50.0,18.4,very large
23262,4865000,"San Antonio city, TX",41.527397,1536583.0,534811.0,1508083.0,80.3,17.8,very large

### Cities with the worst ookla_mean

In [81]:
by_city.sort_values('ook_dmean',ascending=False).tail()

,place_geoid,placenm,dmean_diff,fcc_dmean,ook_dmean,testSUM,deviceSUM,pop,perc_white,perc_below_poverty,city_cat
718,0405140,"Bagdad CDP, AZ",17.239333,17.333333,0.094,9.0,9.0,1774.0,96.4,4.1,town/rural
900,0449010,"Nazlini CDP, AZ",11.454286,11.534286,0.080,10.0,10.0,522.0,0.0,67.4,town/rural
21483,4654020,"Reliance town, SD",25.600762,25.654762,0.054,12.0,12.0,135.0,92.6,3.8,town/rural
17883,3959066,"Otway village, OH",37.954000,38.000000,0.046,4.0,4.0,32.0,100.0,0.0,town/rural
4605,1315648,"Chauncey city, GA",40.561238,40.595238,0.034,7.0,7.0,359.0,56.0,28.7,town/rural

In [89]:
by_city.loc[by_city['place_geoid'].isin(sm_city_list)].sort_values('ook_dmean',ascending=True).head(6)

,place_geoid,placenm,dmean_diff,fcc_dmean,ook_dmean,testSUM,deviceSUM,pop,perc_white,perc_below_poverty,city_cat
21238,4561405,"Rock Hill city, SC",44.756066,83.005313,38.249247,474.0,248.0,73334.0,54.5,15.6,small
4045,1239925,"Lehigh Acres CDP, FL",-12.137161,39.497586,51.634746,88298.0,28226.0,123378.0,71.1,20.0,small
22822,4843888,"Longview city, TX",-18.141121,35.010075,53.151196,75265.0,21663.0,81653.0,72.1,18.8,small
23841,4965330,"St. George city, UT",56.107794,117.644698,61.536904,129225.0,42112.0,84500.0,88.0,13.0,small
7395,1901855,"Ames city, IA",37.261762,107.187546,69.925784,62009.0,19327.0,66023.0,81.3,28.0,small
8022,1983910,"West Des Moines city, IA",52.162297,122.980982,70.818685,83197.0,25518.0,65606.0,84.7,5.9,small

In [90]:
by_city.loc[by_city['city_cat'] == 'midsized'].sort_values('ook_dmean',ascending=True).head(6)

,place_geoid,placenm,dmean_diff,fcc_dmean,ook_dmean,testSUM,deviceSUM,pop,perc_white,perc_below_poverty,city_cat
18117,3977000,"Toledo city, OH",1.368591,61.217346,59.848755,134555.0,42147.0,276614.0,62.6,25.5,midsized
11738,2758000,"St. Paul city, MN",74.972751,176.597807,101.625056,254463.0,78184.0,304547.0,57.0,18.9,midsized
885,0446000,"Mesa city, AZ",36.814881,141.695258,104.880377,629586.0,189980.0,499720.0,81.5,14.8,midsized
6906,1825000,"Fort Wayne city, IN",-8.142434,98.950638,107.093072,201371.0,59645.0,265752.0,73.4,16.0,midsized
15022,3611000,"Buffalo city, NY",75.114568,183.006958,107.892390,178272.0,57121.0,256480.0,47.1,30.1,midsized
9388,2255000,"New Orleans city, LA",-20.062070,92.421272,112.483342,819146.0,256051.0,390845.0,33.9,23.7,midsized

In [91]:
by_city.loc[by_city['city_cat'] == 'large'].sort_values('ook_dmean',ascending=True).head()

,place_geoid,placenm,dmean_diff,fcc_dmean,ook_dmean,testSUM,deviceSUM,pop,perc_white,perc_below_poverty,city_cat
14537,3502000,"Albuquerque city, NM",12.016699,111.735307,99.718609,419222.0,118826.0,559374.0,73.9,16.9,large
21782,4748000,"Memphis city, TN",44.681404,146.685060,102.003656,468483.0,136588.0,651932.0,29.2,25.1,large
1025,0477000,"Tucson city, AZ",35.073743,139.165743,104.092000,382195.0,121542.0,541482.0,72.1,22.5,large
17310,3918000,"Columbus city, OH",105.336227,216.914949,111.578722,1058491.0,327839.0,878553.0,58.6,19.5,large
10571,2622000,"Detroit city, MI",1.359826,120.201887,118.842062,303993.0,106897.0,674841.0,14.7,35.0,large

In [93]:
by_city.loc[by_city['city_cat'] == 'very large'].sort_values('ook_dmean',ascending=True).head()

,place_geoid,placenm,dmean_diff,fcc_dmean,ook_dmean,testSUM,deviceSUM,pop,perc_white,perc_below_poverty,city_cat
926,0455000,"Phoenix city, AZ",50.535926,167.826146,117.290219,1549011.0,463279.0,1633017.0,72.9,18.0,very large
2664,0666000,"San Diego city, CA",32.401472,159.059181,126.657709,2342592.0,724590.0,1409573.0,65.1,12.8,very large
5653,1714000,"Chicago city, IL",47.572107,179.422544,131.850437,5943561.0,1698651.0,2709534.0,50.0,18.4,very large
2674,0668000,"San Jose city, CA",0.638525,139.644879,139.006354,1673690.0,456155.0,1027690.0,39.9,8.7,very large
22599,4835000,"Houston city, TX",-7.719432,135.913310,143.632742,3822653.0,1196922.0,2310432.0,57.0,20.1,very large

### Is the diff more pronounced in granular areas within cities (tracts w/i places) that have higher poverty?

Poverty bins:
- 0 - 5
- 5 - 15
- 15 - 30
- 30 - 50
- 50+

The average tract percent below poverty is 15%.

In [102]:
all_tract_demo.loc[~(all_tract_demo['tract_poverty_cat']=='no poverty data')]['perc_below_poverty'].mean()

15.022745355370546

In [103]:
all_tract_demo.groupby('tract_poverty_cat')['perc_below_poverty'].count()

tract_poverty_cat
extreme             1412
high                6807
high average       19751
low                12877
low average        32302
no poverty data      149
Name: perc_below_poverty, dtype: int64

The next code block just tests to make sure our categorization code above worked right. Change the category title to see the maxs and mins for each category.

In [104]:
print(all_tract_demo.loc[all_tract_demo['tract_poverty_cat'] == 'low']['perc_below_poverty'].max())
print(all_tract_demo.loc[all_tract_demo['tract_poverty_cat'] == 'low']['perc_below_poverty'].min())

4.9
0.0

In [59]:
extreme_pov_list = list(all_tract_demo.loc[all_tract_demo['tract_poverty_cat'] == 'extreme']['tract_geoid'].unique())
high_pov_list = list(all_tract_demo.loc[all_tract_demo['tract_poverty_cat'] == 'high']['tract_geoid'].unique())
high_avg_list = list(all_tract_demo.loc[all_tract_demo['tract_poverty_cat'] == 'high average']['tract_geoid'].unique())
low_avg_list = list(all_tract_demo.loc[(all_tract_demo['tract_poverty_cat'] == 'low average')]['tract_geoid'].unique())
low_list = list(all_tract_demo.loc[(all_tract_demo['tract_poverty_cat'] == 'low')]['tract_geoid'].unique())

**In all parts of the country**

In [60]:
extreme_tract_data = with_diff.loc[with_diff['tract_geoid'].isin(extreme_pov_list)]
high_tract_data = with_diff.loc[with_diff['tract_geoid'].isin(high_pov_list)]
highavg_tract_data = with_diff.loc[with_diff['tract_geoid'].isin(high_avg_list)]
lowavg_tract_data = with_diff.loc[with_diff['tract_geoid'].isin(low_avg_list)]
low_tract_data = with_diff.loc[with_diff['tract_geoid'].isin(low_list)]

In [61]:
key_var = 'ook_dmean'
print('All blocks with diff:',with_diff[key_var].mean())
print('Extreme poverty blocks:',extreme_tract_data[key_var].mean())
print('High poverty blocks:',high_tract_data[key_var].mean())
print('High-average poverty blocks:',highavg_tract_data[key_var].mean())
print('Low-average poverty blocks:',lowavg_tract_data[key_var].mean())
print('Low poverty blocks:',low_tract_data[key_var].mean())

All blocks with diff: 109.24184356491239
Extreme poverty blocks: 89.76008376016969
High poverty blocks: 108.830822954653
High-average poverty blocks: 104.38842409012562
Low-average poverty blocks: 107.24150602986133
Low poverty blocks: 125.7361203128022

**In very large cities**

In [62]:
xl_extreme_tract_data = xl_city_data.loc[xl_city_data['tract_geoid'].isin(extreme_pov_list)]
xl_high_tract_data = xl_city_data.loc[xl_city_data['tract_geoid'].isin(high_pov_list)]
xl_highavg_tract_data = xl_city_data.loc[xl_city_data['tract_geoid'].isin(high_avg_list)]
xl_lowavg_tract_data = xl_city_data.loc[xl_city_data['tract_geoid'].isin(low_avg_list)]
xl_low_tract_data = xl_city_data.loc[xl_city_data['tract_geoid'].isin(low_list)]

In [63]:
key_var = 'ook_dmean'
print('All very large cities:',xl_city_data[key_var].mean())
print('Extreme poverty blocks in very large cities:',xl_extreme_tract_data[key_var].mean())
print('High poverty blocks in very large cities:',xl_high_tract_data[key_var].mean())
print('High-average poverty blocks in very large cities:',xl_highavg_tract_data[key_var].mean())
print('Low-average poverty blocks in very large cities:',xl_lowavg_tract_data[key_var].mean())
print('Low poverty blocks in very large cities:',xl_low_tract_data[key_var].mean())

All very large cities: 145.53607338838103
Extreme poverty blocks in very large cities: 140.28139001170246
High poverty blocks in very large cities: 143.53621618214927
High-average poverty blocks in very large cities: 146.59600936744982
Low-average poverty blocks in very large cities: 146.37116053182834
Low poverty blocks in very large cities: 144.84255831541094

**In large cities**

In [64]:
lg_extreme_tract_data = lg_city_data.loc[lg_city_data['tract_geoid'].isin(extreme_pov_list)]
lg_high_tract_data = lg_city_data.loc[lg_city_data['tract_geoid'].isin(high_pov_list)]
lg_highavg_tract_data = lg_city_data.loc[lg_city_data['tract_geoid'].isin(high_avg_list)]
lg_lowavg_tract_data = lg_city_data.loc[lg_city_data['tract_geoid'].isin(low_avg_list)]
lg_low_tract_data = lg_city_data.loc[lg_city_data['tract_geoid'].isin(low_list)]

In [65]:
key_var = 'ook_dmean'
print('All large cities:',lg_city_data[key_var].mean())
print('Extreme poverty blocks in large cities:',lg_extreme_tract_data[key_var].mean())
print('High poverty blocks in large cities:',lg_high_tract_data[key_var].mean())
print('High-average poverty blocks in large cities:',lg_highavg_tract_data[key_var].mean())
print('Low-average poverty blocks in large cities:',lg_lowavg_tract_data[key_var].mean())
print('Low poverty blocks in large cities:',lg_low_tract_data[key_var].mean())

All large cities: 136.8025031560316
Extreme poverty blocks in large cities: 120.9552986450211
High poverty blocks in large cities: 130.136167471901
High-average poverty blocks in large cities: 138.0842577720541
Low-average poverty blocks in large cities: 139.66573138815815
Low poverty blocks in large cities: 138.8991477007663

**In midsized cities**

In [66]:
md_extreme_tract_data = md_city_data.loc[md_city_data['tract_geoid'].isin(extreme_pov_list)]
md_high_tract_data = md_city_data.loc[md_city_data['tract_geoid'].isin(high_pov_list)]
md_highavg_tract_data = md_city_data.loc[md_city_data['tract_geoid'].isin(high_avg_list)]
md_lowavg_tract_data = md_city_data.loc[md_city_data['tract_geoid'].isin(low_avg_list)]
md_low_tract_data = md_city_data.loc[md_city_data['tract_geoid'].isin(low_list)]

In [67]:
key_var = 'ook_dmean'
print('All midsized cities:',md_city_data[key_var].mean())
print('Extreme poverty blocks in midsized cities:',md_extreme_tract_data[key_var].mean())
print('High poverty blocks in midsized cities:',md_high_tract_data[key_var].mean())
print('High-average poverty blocks in midsized cities:',md_highavg_tract_data[key_var].mean())
print('Low-average poverty blocks in midsized cities:',md_lowavg_tract_data[key_var].mean())
print('Low poverty blocks in midsized cities:',md_low_tract_data[key_var].mean())

All midsized cities: 133.22725981122838
Extreme poverty blocks in midsized cities: 118.38967315753179
High poverty blocks in midsized cities: 130.58847484211813
High-average poverty blocks in midsized cities: 135.57195062706748
Low-average poverty blocks in midsized cities: 133.14654737307188
Low poverty blocks in midsized cities: 134.9400231427432

**In small cities**

In [68]:
sm_extreme_tract_data = sm_city_data.loc[sm_city_data['tract_geoid'].isin(extreme_pov_list)]
sm_high_tract_data = sm_city_data.loc[sm_city_data['tract_geoid'].isin(high_pov_list)]
sm_highavg_tract_data = sm_city_data.loc[sm_city_data['tract_geoid'].isin(high_avg_list)]
sm_lowavg_tract_data = sm_city_data.loc[sm_city_data['tract_geoid'].isin(low_avg_list)]
sm_low_tract_data = sm_city_data.loc[sm_city_data['tract_geoid'].isin(low_list)]

In [69]:
key_var = 'ook_dmean'
print('All small cities:',sm_city_data[key_var].mean())
print('Extreme poverty blocks in small cities:',sm_extreme_tract_data[key_var].mean())
print('High poverty blocks in small cities:',sm_high_tract_data[key_var].mean())
print('High-average poverty blocks in small cities:',sm_highavg_tract_data[key_var].mean())
print('Low-average poverty blocks in small cities:',sm_lowavg_tract_data[key_var].mean())
print('Low poverty blocks in small cities:',sm_low_tract_data[key_var].mean())

All small cities: 129.8062440639753
Extreme poverty blocks in small cities: 113.96201090723471
High poverty blocks in small cities: 121.22719399065184
High-average poverty blocks in small cities: 128.51157594336357
Low-average poverty blocks in small cities: 132.15305767141578
Low poverty blocks in small cities: 134.3179127542814

## Select cities

There are a few cities we'll want to look at specifically. Like, we need to do that poverty analysis for each of them.

**The top 2 worst diff cities in each city size category:**
 - New York city, NY (3651000) and Philadelphia city, PA (4260000) for very large cities
 - Las Vegas city, NV (3240000) and Columbus city, OH (3918000) for large cities
 - Henderson city, NV (3231900) and St. Petersburg city, FL (1263000) for midsized cities
 - Montgomery city, AL (0151000) and Kingsport city, TN (4739560) for small cities
 

**The cities that Adam mentioned:**
 - Little Rock, AR
 - Durham, NC and Raleigh, NC (the research triangle area)
 - Chattanooga, TN
 - San Francisco, CA

In [108]:
def slugify(text):
    text = text.lower()
    return re.sub(r'[\W_]+', '-', text)

def print_city_specific_stats(place_geoid,place_nm,key_var):
    city_data = in_place.loc[in_place['place_geoid'] == place_geoid]
    place_slug = slugify(place_nm)
    city_data.to_file('../GIS/sample-cities/ookla-fcc-'+place_slug+'.shp')

    extreme_tract_data = city_data.loc[city_data['tract_geoid'].isin(extreme_pov_list)]
    high_tract_data = city_data.loc[city_data['tract_geoid'].isin(high_pov_list)]
    highavg_tract_data = city_data.loc[city_data['tract_geoid'].isin(high_avg_list)]
    lowavg_tract_data = city_data.loc[city_data['tract_geoid'].isin(low_avg_list)]
    low_tract_data = city_data.loc[city_data['tract_geoid'].isin(low_list)]

    print('All '+place_nm+':',city_data[key_var].mean())
    print('Extreme poverty blocks in '+place_nm+':',extreme_tract_data[key_var].mean(),'(',len(extreme_tract_data),'/',extreme_tract_data.testSUM.sum(),'/',extreme_tract_data.deviceSUM.sum(),')')
    print('High poverty blocks in '+place_nm+':',high_tract_data[key_var].mean(),'(',len(high_tract_data),'/',high_tract_data.testSUM.sum(),'/',high_tract_data.deviceSUM.sum(),')')
    print('High-average poverty blocks in '+place_nm+':',highavg_tract_data[key_var].mean(),'(',len(highavg_tract_data),'/',highavg_tract_data.testSUM.sum(),'/',highavg_tract_data.deviceSUM.sum(),')')
    print('Low-average poverty blocks in '+place_nm+':',lowavg_tract_data[key_var].mean(),'(',len(lowavg_tract_data),'/',lowavg_tract_data.testSUM.sum(),'/',lowavg_tract_data.deviceSUM.sum(),')')
    print('Low poverty blocks in '+place_nm+':',low_tract_data[key_var].mean(),'(',len(low_tract_data),'/',low_tract_data.testSUM.sum(),'/',low_tract_data.deviceSUM.sum(),')')

In [109]:
print_city_specific_stats('3651000','New York city, NY','ook_dmean')

All New York city, NY: 156.88064372797015
Extreme poverty blocks in New York city, NY: 151.55599461916083 ( 561 / 169686.0 / 52718.0 )
High poverty blocks in New York city, NY: 153.43590705683278 ( 3954 / 1797432.0 / 476851.0 )
High-average poverty blocks in New York city, NY: 153.07282772605822 ( 9844 / 4630799.0 / 1263169.0 )
Low-average poverty blocks in New York city, NY: 160.2382932677006 ( 17710 / 6326162.0 / 1883956.0 )
Low poverty blocks in New York city, NY: 158.56171478216808 ( 5791 / 1637895.0 / 515360.0 )

In [110]:
print_city_specific_stats('4260000','Philadelphia city, PA','ook_dmean')

All Philadelphia city, PA: 153.0735488705092
Extreme poverty blocks in Philadelphia city, PA: 151.06040397286822 ( 1204 / 60296.0 / 22812.0 )
High poverty blocks in Philadelphia city, PA: 149.34706411058795 ( 4976 / 300193.0 / 98651.0 )
High-average poverty blocks in Philadelphia city, PA: 152.73769846144305 ( 5951 / 614606.0 / 192597.0 )
Low-average poverty blocks in Philadelphia city, PA: 158.237785979814 ( 4869 / 654846.0 / 200787.0 )
Low poverty blocks in Philadelphia city, PA: 160.14705100059123 ( 1047 / 118253.0 / 34797.0 )

In [111]:
print_city_specific_stats('3240000','Las Vegas city, NV','ook_dmean')

All Las Vegas city, NV: 124.78031184692298
Extreme poverty blocks in Las Vegas city, NV: 107.53710833333332 ( 20 / 441.0 / 178.0 )
High poverty blocks in Las Vegas city, NV: 115.85258489322533 ( 970 / 61614.0 / 22833.0 )
High-average poverty blocks in Las Vegas city, NV: 127.02880785513901 ( 1307 / 113164.0 / 36649.0 )
Low-average poverty blocks in Las Vegas city, NV: 125.61704666869277 ( 2888 / 376457.0 / 106654.0 )
Low poverty blocks in Las Vegas city, NV: 129.02883893347598 ( 859 / 148966.0 / 38238.0 )

In [ ]:
print_city_specific_stats('3918000','Columbus city, OH','ook_dmean')

In [ ]:
print_city_specific_stats('3231900','Henderson city, NV','ook_dmean')

In [ ]:
print_city_specific_stats('1263000','St. Petersburg city, FL','ook_dmean')

In [ ]:
print_city_specific_stats('0151000','Montgomery city, AL','ook_dmean')

In [ ]:
print_city_specific_stats('4739560','Kingsport city, TN','ook_dmean')

In [ ]:
print_city_specific_stats('0541000','Little Rock city, Arkansas','ook_dmean')

In [ ]:
print_city_specific_stats('3719000','Durham city, North Carolina','ook_dmean')

In [ ]:
print_city_specific_stats('3755000','Raleigh city, North Carolina','ook_dmean')

In [ ]:
print_city_specific_stats('4714000','Chattanooga city, Tennessee','ook_dmean')

In [ ]:
print_city_specific_stats('0667000','San Francisco city, California','ook_dmean')

In [ ]:
all_place_demo.loc[all_place_demo['name'].str.contains('San Francisco')]

---------------------

In [ ]:
print(len(xl_city_list),'very large cities with',len(extreme_pov_list),'blocks')
print(len(lg_city_list),'large cities with',len(lg_city_data),'blocks')
print(len(md_city_list),'midsized cities with',len(md_city_data),'blocks')
print(len(sm_city_list),'small cities with',len(sm_city_data),'blocks')
print(len(town_rural_list),'towns and rural places with',len(town_rural_data),'blocks')

In [ ]:
print('All blocks with diff:',with_diff.dmean_diff.mean())
print('All blocks in places:',in_place.dmean_diff.mean())
print('All blocks in xl places:',xl_city_data.dmean_diff.mean())
print('All blocks in lg places:',lg_city_data.dmean_diff.mean())
print('All blocks in md places:',md_city_data.dmean_diff.mean())
print('All blocks in sm places:',sm_city_data.dmean_diff.mean())
print('All blocks in town/rural places:',town_rural_data.dmean_diff.mean())

In [ ]:
all_tract_demo = all_tract_demo.loc[all_tract_demo['perc_below_poverty'] >= 0]

#get tracts in places with diff readings
diff_by_tract = in_place.groupby(['tract_geoid']).agg({'dmean_diff':'mean','testSUM':'sum','deviceSUM':'sum'}).reset_index()
diff_by_tract = diff_by_tract.merge(all_tract_demo[['tract_geoid','perc_white','perc_below_poverty','poverty_quartiles']],on='tract_geoid', how='left')

In [ ]:
diff_by_tract.groupby('poverty_quartiles').agg({'dmean_diff':'mean','testSUM':'sum','deviceSUM':'sum'}).reset_index()

OK so it looks like the poverty analysis isn't showing what we thought. Let's see if there are any other crosses we can do that might make more sense.

In [ ]:
xl_diff_by_tract = xl_city_data.groupby(['tract_geoid']).agg({'dmean_diff':'mean','testSUM':'sum','deviceSUM':'sum'}).reset_index()
xl_diff_by_tract = xl_diff_by_tract.merge(all_tract_demo[['tract_geoid','perc_white','perc_below_poverty','poverty_quartiles']],on='tract_geoid', how='left')

In [ ]:
xl_diff_by_tract.groupby('poverty_quartiles').agg({'dmean_diff':'mean','testSUM':'sum','deviceSUM':'sum'}).reset_index()

Very large cities are showing the trends we expect here. Higher poverty areas have, on average, a greater difference in the speeds experienced vs. speeds advertised.

In [ ]:
lg_diff_by_tract = lg_city_data.groupby(['tract_geoid']).agg({'dmean_diff':'mean','testSUM':'sum','deviceSUM':'sum'}).reset_index()
lg_diff_by_tract = lg_diff_by_tract.merge(all_tract_demo[['tract_geoid','perc_white','perc_below_poverty','poverty_quartiles']],on='tract_geoid', how='left')

In [ ]:
lg_diff_by_tract.groupby('poverty_quartiles').agg({'dmean_diff':'mean','testSUM':'sum','deviceSUM':'sum'}).reset_index()

In [ ]:
md_diff_by_tract = md_city_data.groupby(['tract_geoid']).agg({'dmean_diff':'mean','testSUM':'sum','deviceSUM':'sum'}).reset_index()
md_diff_by_tract = md_diff_by_tract.merge(all_tract_demo[['tract_geoid','perc_white','perc_below_poverty','poverty_quartiles']],on='tract_geoid', how='left')

In [ ]:
md_diff_by_tract.groupby('poverty_quartiles').agg({'dmean_diff':'mean','testSUM':'sum','deviceSUM':'sum'}).reset_index()

In [ ]:
by_city.loc[by_city['city_cat'] == 'midsized'].sort_values('dmean_diff',ascending=False).head(20)

In [ ]:
len(by_city)

In [ ]:
by_city.groupby('city_cat')['place_geoid'].count()